<%= form_with model: @employee do |form| %>
    <div>
        <%= form.label :firstName %>
        <%= form.text_field :firstName %>
        <% @employee.errors.full_messages_for(:firstName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :lastName %><br>
        <%= form.text_area :lastName %>
        <% @employee.errors.full_messages_for(:lastName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :nickName %><br>
        <%= form.text_area :nickName %>
        <% @employee.errors.full_messages_for(:nickName).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :code %><br>
        <%= form.text_area :code %>
        <% @employee.errors.full_messages_for(:code).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :department %><br>
        <%= form.text_area :department %>
        <% @employee.errors.full_messages_for(:department).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :phone %>
        <%= form.text_area :phone %>
        <% @employee.errors.full_messages_for(:phone).each do |message| %>
            <div><%= message %></div>
        <% end %>
    </div>

    <div>
        <%= form.label :company %>
        <%= form.text_area :company %>
    </div>

    <div>
        <%= form.submit %>
    </div>
<% end %>