<h1>Employee#show</h1>

<%= @employee.id %>/
<%= @employee.firstName %>/
<%= @employee.lastName %>/
<%= @employee.nickName %>/
<%= @employee.code %>/
<%= @employee.department %>/
<%= @employee.phone %>/
<%= @employee.company %>/
<%= @employee.deleteStatus %>