<div class="h1 text-center">Recordings</div>

<div class="container">
  <table class="table text-white table-dark table-striped table-bordered border-info">
    <thead>
      <tr>
        <th scope="col">Index</th>
        <th scope="col">Return date</th>
        <th scope="col">Employee id</th>
        <th scope="col">Equipment id</th>
        <th scope="col">Loan status</th>
        <th scope="col"></th>
        <th scope="col"></th>
      </tr>
    </thead>

    <tbody>
      <% @recordings.each do |recording| %>
        <tr>
          <td><%= recording.id %></td>
          <td><%= recording.returnDate %></td>
          <td><%= recording.employee_id %></td>
          <td><%= recording.equipment_id %></td>
          <td>
              <% if recording.equipment.status == true %>
                  <div class="font-monospace">Loaning</div>
              <% end %>
          </td>
          <td><%= link_to "Edit", edit_recording_path(recording.id), class: "no-underline btn btn-outline-warning" %></td>
          <td><%= link_to "Delete", delete_recording_path(recording.id), class: "no-underline btn btn-outline-danger", 
            data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
          </td>
      <% end %>
    </tbody>
  </table>
</div>

<div class="container">
  <%= link_to "New recording", new_recording_path, class: "btn btn-outline-primary" %>
</div>