<h1>Recordings#index</h1>
<p>Find me in app/views/recordings/index.html.erb</p>

<%# id %>
<%# return date %>
<%# employeeId %>
<%# equipmentId %>
<%# delete %>

<ul>
    <% @recordings.each do |recording|%>
        <li>
            <%= recording.id %>/
            <%= recording.returnDate %>/
            <%= recording.employee_id %>/
            <%= recording.equipment_id %>/
            <%= recording.deleteStatus %>
        </li>
    <% end %>
</ul>

  <%# create_table "recordings", force: :cascade do |t|
    t.datetime "returnDate"
    t.integer "employee_id", null: false
    t.integer "equipment_id", null: false
    t.boolean "deleteStatus"
    t.datetime "created_at", null: false
    t.datetime "updated_at", null: false
    t.index ["employee_id"], name: "index_recordings_on_employee_id"
    t.index ["equipment_id"], name: "index_recordings_on_equipment_id"
  end %>