<h1>Equipments#show</h1>

<%= @equipment.id %>/
<%= @equipment.itemName %>/
<%= @equipment.serialNumber %>
<%= @equipment.itemType %>
<%= @equipment.status %>/
<%= @equipment.amount %>
<%= @equipment.deleteStatus %>